<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5 text-black ">
    <div class="text-5xl font-bold title">Sobre mim:</div>
    <div class="flex flex-row gap-16 items-center content-1">
    <div class="text-2xl description text-justify">Formado em <span class="bg-black text-white rounded-md p-1">Técnico em Informática</span> e cursando <span class="bg-black text-white rounded-md p-1">Engenharia da Computação</span>, estou em busca de oportunidades relacionadas a esta área e destacar as minhas habilidades de comunicação e interação, com muita vontade de crescer profissionalmente. Atualmente estou participando da mentoria de desenvolvimento de software da <span class="bg-black rounded-md p-1"><img src="/creath.webp" class="w-18 h-10 inline-block white-filter"></span>.</div>
    <div class=""><app-photo2></app-photo2></div></div>
</article>
