<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5 text-black ">
    <div class="text-5xl font-bold title olden">
    <div class="flex-custom"> <iconify-icon icon="material-symbols:line-start" width="68" height="68" class="text-black icon-size"/>
        Sobre mim:</div></div>
    <div class="flex flex-row gap-16 items-center content-1">
    <div class="text-2xl description capriola">Formado em <a href="#experiencia"><span class="bg-black text-white rounded-xl border border-2 border-white">Técnico em Informática</span></a> e cursando <a href="#experiencia"><span class="bg-black text-white rounded-xl border border-2 border-white">Engenharia da Computação</span></a>, estou em busca de oportunidades relacionadas a esta área e destacar as minhas habilidades de comunicação e interação, com muita vontade de crescer profissionalmente. Atualmente estou participando da mentoria de desenvolvimento de software da <a href="#experiencia"><span class="bg-black border border-2 border-white rounded-xl border border-2 border-white"><img src="/creath.webp" class="w-18 h-10 inline-block white-filter"></span></a>.</div>
    <div class=""><app-photo2></app-photo2></div></div>
</article>
