<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5 text-black ">
    <div class="text-5xl font-bold title quando">
        <div class="flex-custom" data-aos="fade-right" data-aos-duration="900"> <img src="icons/line-start-black.png"
                class="w-16 h-16 icon-size" alt="">
            Sobre mim:</div>
    </div>
    <div class="flex flex-row gap-16 items-center content-1">
        <div class="text-2xl description capriola" data-aos="fade-right" data-aos-duration="1000">
            Formado em <a href="#experiencia"><span
                    class="bg-black text-white rounded-xl border border-2 border-white">Técnico em
                    Informática</span></a>, atualmente estou cursando o bacharelado de <a href="#experiencia"><span
                    class="bg-black text-white rounded-xl border border-2 border-white">Engenharia da
                    Computação</span></a> e sou integrante da <a href="https://dai.tec.br/" target="_blank"><span
                    class="bg-black border border-2 border-white rounded-xl border border-2 border-white" ><img
                        src="/DAI.png" class="w-18 h-4 md:h-6 inline-block white-filter"></span></a>. Sou um profissional
            em desenvolvimento front-end com experiência nas tecnologias essenciais para criar interfaces web
            dinâmicas e atraentes. </div>
        <app-photo2 data-aos="fade-up" data-aos-duration="2000"></app-photo2>
    </div>
</article>