<div class="">
<header id="header">
    <div class="container 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl xs:max-w-xl">
    <div class="flex">
        <a href=""><iconify-icon icon="game-icons:tiger-head" width="55" height="55"
        class="text-white"/></a>
        <nav>
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#sobre">SOBRE</a></li>
                <li><a href="#tecnologias">TECNOLOGIAS</a></li>
                <li><a href="#contato">CONTATO</a></li>
            </ul>
        </nav>

        </div>
    </div>
    </header>
</div>
