

.container{
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header.rolagem{
        background-color: rgb(44, 43, 43);
        padding: 12px 4%;
        color: white;
        
    }

    .iconify-icon{
        z-index: 1;
    }

header {
    width: 100%;
    padding: 50px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 4;
    background-color: black;

    
    img{
        width: 150px;
        height: 40px;
    }

    ul{
        list-style-type: none;

        li{
            display: inline-block;
            margin: 0 10px;
            font-size: large;
            font-style: bold;
            a{
                color: #fff;
                text-decoration: none; 
                transition: all 300ms;
                &:hover{
                    color: gray;
                }
            }
        }
    }
}

li{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 20px;
    color: white;
    transition: all 300ms;
}

nav {
    li { 
    &:hover {
        color: gray;
        cursor: pointer; 
        &::after {
        width: 100%;
        left: 0;
        }
    } 
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: gray;
        transition: width 300ms, left 300ms;
        left: 50%;
    }
    }
}




.btn-contato{
    button{
        width: 120px;
        height: 40px;
        border: 0;
        background-color: #FE775A;
        color: white;
        cursor: pointer;
        transition: .2s;
    }
}

.mobile {
    display: none;
}
.white-filter {
    filter: brightness(0) invert(1);
    }

@media (max-width: 1070px){
    .container{
        max-width: 54.5rem;
        
    }
    header{
        img{
        margin: 13px;
        width: 110px;
        height: 30px;
    }}
}

@media(max-width: 900px) {
    
    .container{
        max-width: 44.5rem;
    }

    li:hover::after{
        width: 0;
    }
    
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
    header {
        width: 100vw;
        position: fixed;
        top: 0;
        padding:  15px;
        z-index: 99;
        img{
            margin: 13px;
            width: 100px;
            height: 25px;
        }
    }

    header .hamburguer-bt {
        display: inline-block;
        height: fit-content;
        min-height: 32px;
        margin: -12px 15px;
        margin-bottom: -25px;
        float: right;

    }

    header .hamburguer-bt .hamburguer_line {
        background: white;
        width: 30px;
        height: 4px;
        margin: 5px 0;
    }

    header .hamburguer-bt.ativo .hamburguer-top {
        transform: rotate(45deg);
        margin-top: 11px;
    }

    header .hamburguer-bt.ativo .hamburguer-middle {
        opacity: 0;
    }

    header .hamburguer-bt.ativo .hamburguer-bottom {
        transform: rotate(-45deg);
        transition: 300ms;
        margin-top: -18px;
        
    }

    header #opt_menu {
        position: fixed;
        height: calc(100%);
        width: 200px;
        background: grayscale($color: #222020);
        opacity: 1;
        z-index: 99;
        right: -150%;
        top: 78px;
        padding: 10px;
        display: flex;
        overflow: auto;
        ul{
            display: flex;
            flex-direction: column;
            gap: 2px;
            margin: 0;
            padding-left: 30px;
            height: 50px;
            align-items: center;
            li{
                margin: 0;
            }
        }
    }

    header #opt_menu ul {
        flex-direction: column;
        text-align: center;
    }

    header #opt_menu ul li {
        font-size: 25px;
    }

    header #opt_menu.ativo {
        right: 0;
    }

    header .fundo_menu {
        background: #5c5a5a96;
        width: 100%;
        height: 100%;
        top: 78px;
        right: -100%;
        position: fixed;
        z-index: 89;
    }

    header .fundo_menu.ativo {
        right: 0;
    }
    header.rolagem{
        background-color: rgb(44, 43, 43);
        padding: 2px 2%;
        color: white;
        
    }
    header{ 
        img{
            margin: 13px;
            width: 110px;
            height: 30px;
        }
        #opt_menu {
            top: 58px;
        }
        .fundo_menu {
            top: 58px;
        }
    }
}

@media(max-width: 710px){
    .container{
        max-width: 36.5rem;
    }
    
    header{ 
        img{
        margin: 13px;
        width: 110px;
        height: 25px;
    }
    #opt_menu {
        top: 54px;
    }
    .fundo_menu {
        top: 54px;
    }
    }
}

@media(max-width: 480px){
    header.rolagem{
        background-color: rgb(44, 43, 43);
        padding: 2px 2%;
        color: white;
    }
    header{ 
        img{
        margin: 13px;
        width: 100px;
        height: 20px;
    }
    #opt_menu {
        top: 54px;

    }
    .fundo_menu {
        top: 54px;
    }
    }
}

@media (max-height: 800px){
    header {
        width: 100%;
        position: fixed;
        padding:  15px;
        z-index: 99;
        img{
            margin: 13px;
            width: 100px;
            height: 25px;
        }
    }
    .rolagem{
        padding: 0;
    }
}

    @media (max-height: 500px) and (orientation: landscape) {
    header{ padding: 10px 4%;
    }
    header{
        background-color: transparent;
    }    
    
    header.rolagem{
            background-color: rgb(44, 43, 43);
            padding: 2px 2%;
            color: white;
            
        }
        .icon-size{
            transform: scale(0.7);
        }
        header{ 
    }}