<article
    class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl h-3/5 text-black overflow-hidden mt-32">
    <div class="text-5xl font-bold title mb-12 quando flex-custom justify-end" data-aos="zoom-in-up"
        data-aos-duration="1200">
        Projetos
        <img src="icons/line-end-black.png" class="w-16 h-16 icon-size1" alt="">
    </div>
    <aside class="flex flex-row justify-center gap-2 text-center">
        <div class="w-72 border-8 border-black rounded-2xl" data-aos="zoom-in-up" data-aos-duration="800">
            <div class="h-img h-52">
                <img src="/project-gdm.png" class="w-full h-full" alt="">
            </div>
            <div class="h-autos">
                <div class="bg-black"><p class="font-bold text-xl bg-black text-white p-2 quando">Gestão de Mentoria</p>
                <div class="flex-custom justify-center w-full bg-black gap-1 p-2">
                    <img src="icons/angularIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tsIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tailwindIcon.svg" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/gitIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/figmaIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/JiraIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                </div></div>
                <div class="text-center p-2 capriola text-gray-500 text-sm">Atualmente participo no desenvolvimento
                    <span>front-end</span> do <span>GDM</span>. Projeto para gerir a <span>Creath Academy</span>, onde
                    tem o sistema dos mentores e mentorados, podendo ver suas atividades, ver seus projetos, marcar
                    eventos, visualizar eventos, modificar suas informações, etc.</div>
            </div>
        </div>
        <div class="w-72 border-8 border-black rounded-2xl" data-aos="zoom-in-up" data-aos-duration="1000">
            <div class="relative h-img h-52 rounded-xl bg-black">
                <img src="/project-dai-at.png" class="w-full h-full" alt="">
            </div>
            <div class="h-72">
                <div class="bg-black"><p class="font-bold text-xl bg-black text-white p-2 quando font-size-c">DAI</p>
                <div class="flex-custom justify-center bg-black w-full gap-5 p-2">
                    <img src="icons/nextjsIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tsIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tailwindIcon.svg" class="white-filter icon-size" width="22" height="24" alt="">
                    <img src="icons/gitIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/figmaIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/JiraIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                </div></div>
                <div class="text-center p-2 capriola text-sm text-gray-500">Estou participando no desenvolvimento
                    <span>front-end</span> do sistema da <span>DAI</span>. A <span>DAI</span> consiste em um sistema de
                    <span>inteligência artificial</span> utilizando <span>RAG</span>, que aprende as características que
                    o usuário desejar, criando um assistente inteligente virtual.
                </div>
            </div>
        </div>
        <div class="w-72 border-8 border-black rounded-2xl" data-aos="zoom-in-up" data-aos-duration="1200">
            <div class="relative h-img h-52 rounded-xl bg-black">
                <img src="/project-fps.png" class="w-full h-full" alt="">
            </div>
            <div class="h-72">
                <div class="bg-black"><p class="font-bold text-xl bg-black text-white p-2 quando">Pet Sitter Finder</p>
                <div class="flex-custom justify-center w-full gap-1 p-2 bg-black">
                    <img src="icons/angularIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tsIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tailwindIcon.svg" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/gitIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/figmaIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                </div></div>
                <div class="text-center p-2 capriola text-sm text-gray-500">Fui desenvolvedor <span>front-end</span> do
                    <span>Pet Sitter Finder</span>. <span>Pet Sitter Finder</span> consiste em uma rede social onde
                    pessoas interessadas em achar um cuidador para o seu animal, encontra <span>pet-sitters</span>
                    dispostos a negociação.</div>
            </div>
        </div>
        <div class="w-72 border-8 border-black rounded-2xl portfolio" data-aos="zoom-in-up"
            data-aos-duration="1400">
            <div class="relative h-img h-52 rounded-xl bg-black">
                <img src="/project-portfolio.png" class="w-full h-full" alt="">
            </div>
            <div class="h-72">
                <div class="bg-black"><p class="font-bold text-xl bg-black text-white p-2 quando">Portfolio</p>
                <div class="flex-custom justify-center w-full gap-1 p-2 bg-black">
                    <img src="icons/angularIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tsIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/tailwindIcon.svg" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/sassIcon.webp" class="white-filter icon-size" width="22" height="22" alt="">
                    <img src="icons/gitIcon.png" class="white-filter icon-size" width="22" height="22" alt="">
                </div></div>
                <div class="text-center text-sm p-2 capriola text-gray-500">
                    Este projeto é uma página pessoal dedicada a apresentar minha <span>trajetória profissional</span>,
                    <span>competências</span> e <span>informações de contato</span>. A página está projetada para
                    destacar minhas <span>experiências</span>, <span>habilidades</span> e <span>conquistas</span> de
                    forma clara e atraente.</div>
            </div>
        </div>
    </aside>
</article>