.white-filter {
        filter: brightness(0) invert(1);
}

span{
        font-weight: bold;
}


@media(min-width: 900px){
.hover-custom{
        transition: .35s;
        cursor: default; 
}
aside:hover > :not(:hover){
        opacity: .5;
        transform: scale(0.9);
}
}
@media(max-width: 1070px){
        article{
                max-width: 55rem;
                margin-top: 60px;
                aside{
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px;
                div{
                        flex: 0 1 calc(50% - 15px); 
                        box-sizing: border-box;
                        
                }
                p{
                        font-size: 1.5em;
                }
                .flex-custom{
                        gap: 7px;
                }
                .h-img{
                        height: 16rem;  
                }       
                }
                .flex-custom{
                        gap: 0px;
                }
                .text-5xl{
                        font-size: 2.4em;
                        margin-bottom: 40px;
                }
                .text-sm{
                        font-size: 1.1em;
                } 
                .icon-size1{
                        transform: scale(0.8);
                        padding: 0;
                        width: 2em;
                } 
                .icon-size{
                        transform: scale(1);
                        padding: 0;
                        width: 2em;
                } 
        }
}


@media(max-width: 900px){
        article{
                max-width: 44rem;
                margin-top: 60px;
                aside{
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px;
                div{
                        flex: 0 1 calc(50% - 15px); 
                        box-sizing: border-box;
                        
                }
                p{
                        font-size: 1.3em;
                }
                .flex-custom{
                        gap: 7px;
                }
                .h-img{
                        height: 16rem;  
                }       
                }
                .flex-custom{
                        gap: 0px;
                }
                .text-5xl{
                        font-size: 2.2em;
                        margin-bottom: 40px;
                }
                .text-sm{
                        font-size: 0.9em;
                } 
                .icon-size1{
                        transform: scale(0.8);
                        padding: 0;
                        width: 2em;
                } 
                .icon-size{
                        transform: scale(0.9);
                        padding: 0;
                        width: 2em;
                } 
        }
}
        
@media(max-width: 710px){
        article{
                max-width: 29.5rem;
                margin-top: 60px;
                aside{
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                .text-xl{
                        font-size: 1.3em;
                        }
                div{
                        width: 100%;
                        
                }
                .flex-custom{
                        gap: 7px;
                }      
                }
                .flex-custom{
                        gap: 0px;
                }
                .text-5xl{
                        font-size: 1.8em;
                        margin-bottom: 30px;
                }
                .text-sm{
                        font-size: 1em;
                } 
                .icon-size{
                        transform: scale(0.9);
                        padding: 0;
                        width: 2em;
                } 
                .icon-size1{
                        transform: scale(0.9);
                        padding: 0;
                        width: 2em;
                } 
        }
        }

@media(max-width: 480px){
article{
        max-width: 22rem;
        margin-top: 60px;
        aside{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        .text-xl{
        font-size: 1.2em;
        }
        div{
                width: 100%;
                
        }
        .flex-custom{
                gap: 7px;
        }
        .h-img{
                height: 16rem;  
        }       
        }
        .flex-custom{
                gap: 0px;
        }
        .text-5xl{
                font-size: 1.6em;
                margin-bottom: 30px;
        }
        .text-xl{
                font-size: 0.6em;      
        }
        .text-sm{
                font-size: 0.9em;
        } 
        .icon-size{
                transform: scale(0.8);
                padding: 0;
                width: 2em;
        } 
        .icon-size1{
                transform: scale(0.8);
                padding: 0;
                
        } 
}

}

@media(max-width: 359px){
        article{
                max-width: 19rem;
                margin-top: 30px;
                aside{
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                .text-xl{
                        font-size: 1em;
                        }
                img{
                        display: none;
                } 
                .h-img {
                        height: 0;
                } 
                .portfolio{
                        display: none;
                }
                }
                .flex-custom{
                        gap: 0px;
                }
                .text-5xl{
                        display: none;
                }
                .text-sm{
                        font-size: 0.7em;
                } 
                .icon-size{
                        transform: scale(0.9);
                        padding: 0;
                        width: 2em;
                } 
                .icon-size1{
                        transform: scale(0.6);
                        padding: 0;
                        width: 2em;
                } 
                .h-72{
                        height: 210px;
                }
        }
        }
        
