<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl h-3/5 text-black overflow-hidden mt-20">
    <div class="text-5xl font-bold title mb-20">Projetos:</div>
    <aside class="flex flex-row gap-2 font-bold text-center">
    <div class="w-96 border-8 border-black rounded-2xl hover-custom"> 
        <div class="relative h-52">
            <img src="/project-gdm.png" class="w-full h-full" alt="">
        </div>
        <div class="h-72 ">
            <div class="font-bold text-xl bg-black text-white p-2">Gestão de Mentoria</div>
            <div class="text-justify p-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta rem nam, sapiente ullam eligendi unde reiciendis! Deserunt non nesciunt voluptatem delectus beatae. Amet, iste dolore debitis unde cumque quam doloremque.</div>
        </div>
    </div>

    <div class="w-96 border-8 border-black rounded-2xl hover-custom"> 
        <div class="relative h-52 rounded-xl">
            <img src="/project-dai.png" class="w-full h-full" alt="">
        </div>
        <div class="h-72">
            <p class="font-bold text-xl bg-black text-white p-2">DAI</p>
            <div class="text-justify p-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta rem nam, sapiente ullam eligendi unde reiciendis! Deserunt non nesciunt voluptatem delectus beatae. Amet, iste dolore debitis unde cumque quam doloremque.</div>
        </div>
    </div>

    <div class="w-96 border-8 border-black rounded-2xl hover-custom"> 
        <div class="relative h-52 rounded-xl">
            <img src="/project-fps.png" class="w-full h-full" alt="">
        </div>
        <div class="h-72">
            <p class="font-bold text-xl bg-black text-white p-2">Find Pet Sitter</p>
            <div class="text-justify p-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta rem nam, sapiente ullam eligendi unde reiciendis! Deserunt non nesciunt voluptatem delectus beatae. Amet, iste dolore debitis unde cumque quam doloremque.</div>
        </div>
    </div>

    <div class="w-96 border-8 border-black rounded-2xl hover-custom"> 
        <div class="relative h-52 rounded-xl">
            <img src="/project-portfolio.png" class="w-full h-full" alt="">
        </div>
        <div class="h-72">
            <p class="font-bold text-xl bg-black text-white p-2">Portfolio</p>
            <div class="text-justify p-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta rem nam, sapiente ullam eligendi unde reiciendis! Deserunt non nesciunt voluptatem delectus beatae. Amet, iste dolore debitis unde cumque quam doloremque.</div>
        </div>
    </div></aside> 
</article>
