<section class="bg-black flex justify-center items-center text-white ">
    <div class="p-16 border border-8 border-white flex flex-col gap-9 rounded-2xl 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl">
    <h1 class="quando text-6xl flex-custom"> 
        <span class="letter-anima">O</span>
        <span class="letter-anima">b</span>
        <span class="letter-anima">r</span>
        <span class="letter-anima">i</span>
        <span class="letter-anima">g</span>
        <span class="letter-anima">a</span>
        <span class="letter-anima">d</span>
        <span class="letter-anima">o</span>
        <span class="letter-anima">!</span>
        <img src="icons/happyFaceIcon.png" class="white-filter " width="50" height="50"></h1>
    <h2 class="capriola text-2xl">Seu e-mail foi enviado! Assim que possível, irei fornecer uma resposta!</h2>
    <button class="rounded-md h-12 font-bold hover:text-black text-xl mt-10" (click)="goToHome()">VOLTAR</button></div>
</section>