
<app-header/>

<div class=" bg-black text-white flex-column justify-center items-center">

<section class="flex justify-center items-center w-full size-1x">
    <div class="text-center w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl border-4 rounded-2xl h-3/5">
Page1

    </div>
</section>
<section id="sobre" class=" w-full bg-white size-1x">
    <iconify-icon icon="iwwa:arrow-down" width="38" height="38"
    class="text-black flex justify-center"/>  
    <div class="text-center text-black">
        Page2

    </div>
</section>
<section id="tecnologias" class=" w-full bg-black size-1x">
    <iconify-icon icon="iwwa:arrow-down" width="38" height="38"
    class="text-white flex justify-center items-end"/>  
    <div class="text-center text-white">
        Page3

    </div>
</section>
<section id="contato" class=" w-full bg-white size-1x">
    <iconify-icon icon="iwwa:arrow-down" width="38" height="38"
    class="text-black flex justify-center"/> 
    <div class="text-center text-black">
        Page4

    </div>
</section>


