$color1: #0000; // Cor 1
$color2: #FFFF; // Cor 2
$color3: #75ff33; // Cor 3
$color4: #33ffbd; // Cor 4


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }

    html{
        scroll-behavior: smooth;
    }

    .size-1x {
        height: 100vh; /* 5 vezes a altura da viewport */
        }

        .element {
            background: linear-gradient(
            to bottom,  
            $color1,    
            $color2 20%, 
            $color2 60%, 
            $color2     
            );
        }   
        .element2{
            background: linear-gradient(
            to bottom,  
            $color2,    
            $color1 20%, 
            $color1 60%, 
            $color1     
            );
        }
        .element3{
            background: linear-gradient(
            to bottom,  
            $color1,
            $color2,    
            $color2, 
            $color2, 
            $color2,
            $color2,
            );
        }