
<app-header/>

<div class=" bg-black text-white flex-column justify-center items-center" >

<section id="home" class="flex justify-center items-center w-full size-1x home-size-custom" >
    <article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5 flex justify-between items-center content-1">
        <app-photo/>
        <div class="quando" >
            <h1 class="text-white text-6xl font-bold" data-aos="zoom-in" data-aos-duration="2400">Olá, sou o Lucas Alberto!</h1>
            <h2 class=" flex justify-end text-4xl text-gray-custom font-bold"  data-aos="zoom-in" data-aos-duration="1700">Desenvolvedor Web</h2>
            <div class="flex-custom justify-end gap-3 pt-2 spacing" >
                <a href="https://www.linkedin.com/in/lucasalberto0/" target="blank" data-aos="fade-up-right" data-aos-duration="1400"><img src="icons/linkedinIcon.png" width="58" height="58" class=" icon-size"/></a>
                <a href="mailto:lucasalberto4321@gmail.com.com?subject=Quero falar com você!&body=Olá, Lucas!" target="blank" data-aos="fade-up-right" data-aos-duration="1200"> <img src="icons/gmailIcon.png" width="58" height="58" class=" icon-size"/></a>
                <a href="https://github.com/LucasAlberto0" target="blank" data-aos="fade-up-right" data-aos-duration="1000"><img src="icons/githubIcon.png" width="58" height="58" class=" icon-size"/></a>
        </div>
        </div>
    </article>
</section>

<section id="sobre" class="flex justify-center items-center w-full w-full bg-white size-1x about-size-custom relative ">  
    <app-about/>
</section>

<section id="experiencia" class="flex justify-center items-center w-full bg-black size-1x25x experience-size-custom  relative"> 
    <app-experience/>
</section>

<section id="projetos" class="flex flex-col justify-center items-center w-full bg-white size-1x5x projects-size-custom size-custom1 relative">
    <app-skills/>
    <app-projects/>
</section>

<section id="contato" class="flex justify-center items-center w-full bg-black size-1x form-size-custom relative">
    <app-form/>
</section>
<div class="footer text-center m-10 capriola">
    © 2024 / Lucas Alberto / Todos os direitos reservados
</div>
<footer class="invisible pointer-events-none">.</footer>

