<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl h-3/5 text-black overflow-hidden">
    <div class="text-5xl font-bold title mb-12 quando flex-custom"><img src="icons/line-start-black.png" class="w-16 h-16 icon-size" alt="">Tecnologias</div>
    <div class="flex flex-row gap-5 slide-wrapper text-center capriola">
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/htmlIcon.png" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">HTML</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/cssIcon.png" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">CSS</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/javascriptIcon.png" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">JavaScript</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/angularIcon.webp" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Angular</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/tsIcon.png" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Typescript</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/gitIcon.png" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Git</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/sassIcon.webp" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Sass</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/tailwindIcon.svg" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">TailwindCSS</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/nextIcon.png" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Next.Js</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/figmaIcon.webp" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Figma</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="icons/JiraIcon.webp" class="w-24 h-24 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Jira</div>
        </div> 

        
    </div>
</article>

