.slide-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  animation: scroll 70s linear infinite;
  will-change: transform;
}

.slide:hover {
  transition: 0.5ms;
  animation-play-state: paused;
}

.slide {
  flex: 0 0 auto;
  margin-right: 20px;
  white-space: nowrap !important;
  transition: transform 0.3s ease;
}

.slide:hover {
  transform: scale(0.9);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1070px) {
  article {
    max-width: 54.5rem;
    .icon-size {
      transform: scale(0.8);
      padding: 0;
      width: 2em;
      transform-origin: left;
    }
    .flex-custom {
      gap: 0px;
    }
    .text-5xl {
      font-size: 2.4em;
      margin-bottom: 40px;
    }
    .slide-wrapper {
      gap: 0;
      animation: scroll 70s linear infinite;

      .slide {
        padding: 10px;
      }
      img {
        width: 4rem;
        height: 4rem;
      }
      .text-xl {
        font-size: 1.4em;
      }
    }
  }
}

@media (max-width: 900px) {
  article {
    max-width: 44rem;
    .icon-size {
      transform: scale(0.8);
      padding: 0;
      width: 2em;
      transform-origin: left;
    }
    .flex-custom {
      gap: 0px;
    }
    .text-5xl {
      font-size: 2.2em;
      margin-bottom: 40px;
    }
    .slide-wrapper {
      gap: 0;
      animation: scroll 50s linear infinite;

      .slide {
        padding: 10px;
      }
      img {
        width: 3.7rem;
        height: 3.7rem;
      }
      .text-xl {
        font-size: 1.3em;
      }
    }
  }
}

@media (max-width: 710px) {
  article {
    max-width: 29.5rem;
    .icon-size {
      transform: scale(0.9);
      padding: 0;
      width: 2em;
      transform-origin: left;
    }
    .flex-custom {
      gap: 0px;
    }
    .text-5xl {
      font-size: 1.8em;
      margin-bottom: 30px;
    }
    .capriola {
      font-size: 0.3em;
    }
    .slide-wrapper {
      font-size: 0.6em;
      gap: 0;
      animation: scroll 70s linear infinite;

      .slide {
        padding: 10px;
      }
      img {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }
}

@media (max-width: 480px) {
  article {
    max-width: 22rem;
    .icon-size {
      transform: scale(0.8);
      padding: 0;
      width: 2em;
      transform-origin: left;
    }
    .flex-custom {
      gap: 0px;
    }
    .text-5xl {
      font-size: 1.6em;
      margin-bottom: 30px;
    }
    .slide-wrapper {
      font-size: 0.5em;
      gap: 0;
      animation: scroll 50s linear infinite !important;

      .slide {
        padding: 10px;
      }
      img {
        width: 3rem;
        height: 3rem;
      }
      .text-xl {
        font-size: 1.7em;
      }
    }
  }
}

@media (max-width: 370px){
    article {
    max-width: 20rem;
    }
}

@media (max-width: 340px) {
  article {
    max-width: 19rem;
    .icon-size {
      transform: scale(0.6);
      padding: 0;
      width: 2em;
      transform-origin: left;
    }
    .flex-custom {
      gap: 0px;
    }
    .text-5xl {
      display: none;
    }
    .capriola {
      font-size: 0.3em;
    }
    .slide-wrapper {
      font-size: 0.5em;
      gap: 0;
      animation: scroll 50s linear infinite;

      .slide {
        padding: 6px;
      }
      img {
        width: 3rem;
        height: 3rem;
      }
      .text-xl {
        display: none;
      }
    }
  }
}
