<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5 text-black overflow-hidden">
    <div class="slide-trac">
    <div class="flex flex-row gap-5 slide-wrapper text-center">
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">HTML</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">CSS</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">JavaScript</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Angular</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Typescript</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Sass</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">TailwindCSS</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">NextJs</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Figma</div>
        </div> 
        <div class="border border-8 border-black rounded-2xl p-4 slide"> <img src="/creath.webp" class="w-18 h-10 inline-block white-filter">
            <div class="pt-4 font-bold text-xl">Jira</div>
        </div> 

        
    </div></div>

</article>