
// .slide {
//   transition: transform 0.05s ease;
//   width: 180px;
//   height: 180px;
//   padding: 10px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.slide{
  width: 180px;
   height: 180px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
}

//   @media (min-width: 900px) {
//     .slide-box {
//     transition: 0.05s;
//     cursor: default;
//     }
//     .slide-box:hover > :not(:hover) {
//     opacity: 0.5;
//     transform: scale(0.9);
//     }
//     }



@media (max-width: 1280px) {
  article {
    .icon-size {
      transform: scale(1);
    }
    .text-5xl {
      font-size: 2.6em;
    }
      img {
        transform: scale(0.9);
      }
      .text-xl {
        font-size: 1.4em;
      }
  }
}

@media (max-width: 1070px) {
  article {
    max-width: 54.5rem;
    .icon-size {
      transform: scale(0.8);
      padding: 0;
      width: 2em;
      transform-origin: left;
    }
    .text-5xl {
      font-size: 2.4em;
      margin-bottom: 40px;
    }
    .slide{
      width: 160px;
      height: 160px;
    }
      img {
        transform: scale(0.8);
      }
      .text-xl {
        font-size: 1.3em;
      }
  }
}

@media (max-width: 900px) {
  article {
    max-width: 44rem;
    .icon-size {
      transform: scale(0.8);
    }
    .text-5xl {
      font-size: 2.2em;
      margin-bottom: 40px;
    }
      img {
        transform: scale(0.7);
      }
      .text-xl {
        font-size: 1.3em;
      }
  }
}

@media (max-width: 710px) {
  article {
    max-width: 32rem;
    .icon-size {
      transform: scale(0.9);
    }
    .text-5xl {
      font-size: 1.8em;
    }
    .slide{
      width: 150px;
      height: 150px;
      padding: 30px;
    }
      img {
        transform: scale(0.7);
      }
  }
}

@media (max-width: 530px){
  article{
    max-width: 22rem;
  }
}

@media (max-width: 480px) {
  article {
    .icon-size {
      transform: scale(0.8);
    }
    .text-5xl {
      font-size: 1.6em;
      margin-bottom: 30px;
    }
    .slide{
      width: 140px;
      height: 140px;
    }
      img {
        transform: scale(0.7);
      }
  }
}

@media (max-width: 370px) {
  article {
    max-width: 20rem;
  }
}

@media (max-width: 340px) {
  article {
    max-width: 19rem;
      }
      img {
        transform: scale(0.6);
      }
      .text-xl {
        font-size: 0.6em;
      }
}
