.box{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #000508;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
img{
    position: relative;
    z-index: 2;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    object-fit: cover; /* Ajustado para cobrir a área sem distorcer a imagem */
    clip-path: circle(50% at 50% 50%); /* Define um formato de círculo para a imagem */
}

.box::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 300%;
    background: linear-gradient(180deg, white,white );

    animation: animate 3s linear infinite;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}

.box::after{
    content: "";
    position: absolute;
    background-color: #000508;
    inset: 5px;
    border-radius: inherit;
}

@media(max-width: 1070px) {
    .box{
        width: 280px;
        height: 280px;
}
img{
    width: 260px;
    height: 260px;
}
}

@media(max-width: 900px) {
    .box{
        width: 260px;
        height: 260px;
}
img{
    width: 230px;
    height: 230px;
}
}

@media(max-width: 710px) {
    .box{
        width: 230px;
        height: 230px;
}
img{
    width: 200px;
    height: 200px;
}

}

@media(max-width: 480px) {
    .box{
        width: 200px;
        height: 200px;
}
img{
    width: 170px;
    height: 170px;
}
}

@media(max-width: 370px) {
    .box{
        width: 180px;
        height: 180px;
}
img{
    width: 160px;
    height: 160px;
}
}

@media (max-height: 500px) and (orientation: landscape) {
    .box{
        width: 180px;
        height: 180px;
    }
    img{
        width: 160px;
        height: 160px;
    }
}