    .box {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #000508;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
    }

    img {
    position: relative;
    z-index: 2;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    }

    .box::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 300%;
    background: linear-gradient(180deg, white, white);

    animation: animate 3s linear infinite;
    }

    .box:hover::before {
    animation-duration: 1s;
    }

    @keyframes animate {
    100% {
        transform: rotate(360deg);
    }
    }

    .box::after {
    content: "";
    position: absolute;
    background-color: #000508;
    inset: 5px;
    border-radius: inherit;
    }

    @media (max-width: 1070px) {
    .box {
        width: 320px;
        height: 320px;
    }
    img {
        width: 290px;
        height: 290px;
    }
    }

    @media (max-width: 900px) {
    .box {
        width: 290px;
        height: 290px;
    }
    img {
        width: 270px;
        height: 270px;
    }
    }

    @media (max-width: 710px) {
    .box {
        width: 260px;
        height: 260px;
        &:hover {
        transform: none;
        }
    }
    img {
        width: 230px;
        height: 230px;
    }
    }

    @media (max-width: 480px) {
    .box {
        width: 230px;
        height: 230px;
    }
    img {
        width: 200px;
        height: 200px;
    }
    }

    @media (max-width: 370px) {
    .box {
        width: 200px;
        height: 200px;
    }
    img {
        width: 180px;
        height: 180px;
    }
    }

    @media (max-width: 335px) {
    .box {
        width: 170px;
        height: 170px;
    }
    img {
        width: 150px;
        height: 150px;
    }
    }

    @media (max-width: 330px) {
    .box {
        width: 160px;
        height: 160px;
    }
    img {
        width: 140px;
        height: 150px;
    }
    }

    @media (max-height: 500px) and (orientation: landscape) {
    .box {
        width: 220px;
        height: 220px;
    }
    img {
        width: 180px;
        height: 180px;
    }
    }

    @media (pointer: coarse) {
    .box:active {
        transform: scale(1);
    }
    .box:active::before {
        animation-duration: 1s;
    }
    }
