<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5">
    <p class="font-bold text-5xl text-white mb-16 quando flex-custom">
        <img src="icons/line-start-white.png" class="w-16 h-16 icon-size1" alt="">
        Contato
    </p>
    <div class="dad-div flex flex-row gap-36 capriola">

        <form action="https://api.staticforms.xyz/submit" method="POST" class="flex flex-col gap-6 form-width"
            data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700">
            <input type="hidden" name="accessKey" value="sf_5fd0a537gmh44mee9i98ah8j">
            <input type="text" name="honeypot" style="display: none" tabindex="-1" autocomplete="off">
            <input type="text" name="name" id="name"
                class="border border-white text-white bg-black placeholder-gray-500 p-2"
                placeholder="Digite seu nome e sobrenome" required>
            <input type="email" id="email" name="email"
                class="border border-white text-white bg-black placeholder-gray-500 p-2" placeholder="Digite seu e-mail"
                required>
            <input name="subject" class="border border-white text-white bg-black placeholder-gray-500 p-2"
                placeholder="Digite o assunto" required>
            <textarea name="message" placeholder="Sua mensagem..."
                class="border border-white text-white bg-black placeholder-gray-500 p-2 h-36 resize-none"
                required></textarea>
            <div class="g-recaptcha" data-sitekey="6LepfiIrAAAAALmuqiI0aOaQYH0brcBZx5WzyBZO"></div>
            <input type="hidden" name="redirectTo" value="https://lucasalberto.site/agradecimento">
            <button class="rounded-md h-12 font-bold hover:text-black" type="submit">Enviar</button>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        </form>
        <aside>
            <h1 class="font-bold text-3xl mb-3 margin-custom1 quando">Email para contato</h1>
            <h2 class="text-xl text-gray-custom margin-custom2 mb-14 flex items-center gap-1"> <a
                    href="mailto:lucasalberto4321@gmail.com.com?subject=Quero falar com você!&body=Olá, Lucas!"><img
                        src="icons/gmailIcon.png" class="icon-size" width="36" height="36" alt=""
                        data-aos="flip-left"></a>lucasalberto4321gmail.com</h2>
            <h1 class="font-bold text-3xl margin-custom1 mb-5 quando">Adicione nas redes</h1>
            <h2 class="text-xl text-gray-custom mb-3 flex items-center gap-1"> <a
                    href="https://github.com/LucasAlberto0" target="_blank"><img src="icons/githubIcon.png"
                        class=" icon-size" width="36" height="36" alt="" data-aos="flip-left"></a>/LucasAlberto0</h2>
            <h2 class="text-xl text-gray-custom mb-3 flex items-center gap-1"><a
                    href="https://www.linkedin.com/in/lucasalberto0/" target="_blank"><img src="icons/linkedinIcon.png"
                        class=" icon-size" width="36" height="36" alt="" data-aos="flip-left"></a>/lucasalberto0</h2>
            <h2 class="text-xl text-gray-custom flex items-center gap-1"><a
                    href="https://wa.me/5513991090513?text=Olá%20gostaria%20de%20mais%20informações!"
                    target="_blank"><img src="icons/whatsappIcon.png" class="icon-size" width="36" height="36" alt=""
                        data-aos="flip-left"></a>(13)99109-0513</h2>
        </aside>
    </div>
</article>