<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5">
    <p class="font-bold text-5xl text-white mb-16 olden flex-custom">
        <iconify-icon icon="material-symbols:line-start" width="68" height="68" class="text-white icon-size1"/>
        Contato</p>
    
    <div class="dad-div flex flex-row gap-36"><form action="https://formsubmit.co/lucasalberto4321@gmail.com" method="POST" class="flex flex-col gap-6 form-width">
        <input type="text" name="name" class="border border-white text-white bg-black placeholder-gray-500 p-2" placeholder="Digite seu nome e sobrenome" required>
        <input type="email" name="email" class="border border-white text-white bg-black placeholder-gray-500 p-2" placeholder="Digite seu e-mail" required>
        <input name="subject" class="border border-white text-white bg-black placeholder-gray-500 p-2" placeholder="Digite o assunto" required>
        <textarea name="message" placeholder="Sua mensagem..." class="border border-white text-white bg-black placeholder-gray-500 p-2 h-36 resize-none" required></textarea>
        <button class="rounded-md h-12 font-bold hover:text-black" type="submit">Enviar</button>
    </form>
    <aside>
        <h1 class="font-bold text-3xl mb-3 margin-custom1 olden">Email para contato</h1>
        <h2 class="text-xl text-gray-custom margin-custom2 mb-14"> <a class="flex items-center gap-2"  href="mailto:lucasalberto4321@gmail.com.com?subject=Quero falar com você!&body=Olá, Lucas!"><iconify-icon icon="mdi:gmail" width="36" height="30" class="text-white hover:text-gray-custom transition capriola icon-size"/>lucasalberto4321gmail.com</a></h2>

        <h1 class="font-bold text-3xl margin-custom1 mb-5 olden">Adicione nas redes</h1>
        <h2 class="text-xl text-gray-custom mb-3"> <a class="flex items-center gap-2"  href="https://github.com/LucasAlberto0" target="_blank"><iconify-icon icon="mdi:github" width="36" height="30" class="text-white hover:text-gray-custom transition capriola icon-size"/>/LucasAlberto0</a></h2>
        <h2 class="text-xl text-gray-custom mb-3"><a class="flex items-center gap-2"  href="https://www.linkedin.com/in/lucasalberto0/" target="_blank"><iconify-icon icon="uil:linkedin" width="36" height="30" class="text-white hover:text-gray-custom transition apriola icon-size"/>/lucasalberto0</a></h2>
        <h2 class="text-xl text-gray-custom gap-2"><a class="flex items-center gap-2"  href="https://wa.me/5513988812393?text=Olá%20gostaria%20de%20mais%20informações!" target="_blank"><iconify-icon icon="ic:outline-whatsapp" width="36" height="30" class="text-white hover:text-gray-custom transition capriola icon-size"/>(13) 98881-2393</a></h2>
    </aside>
</div>
</article>
