form{
    width: 32rem;
}

button{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid white;
    color: white;

    position: relative;
    isolation: isolate;
}

button::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: white;
    inset: 0;
    color: black;
    scale: 0 1;
    transition: scale 450ms;
}

button:hover::after,
button:focus-visible::after{
    color: black;
    transform-origin: left;
    scale: 1 1;
}

@media(max-width: 1070px){
    article{
        min-width: 52rem;
        max-width: 54.5rem;
    }
    form{
        font-size: 1.3em;
        button{
            height: 60px;
        }
    }
    .dad-div{
        flex-direction: column;
        justify-content: center;
        gap: 5em;
    }
    .text-5xl{
        font-size: 2.4em;
        margin-bottom: 40px;  
    }
    .text-3xl{
        font-size: 1.5em;
        margin-bottom: 30px;  
    }
    .form-width{
        width: 100%;
    } 
    .flex-custom{
        gap: 0;
    }
    .icon-size1{
        transform: scale(0.8);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .icon-size{
        transform: scale(0.9);
        padding: 0;
    } 
    .text-gray-custom{
        font-size: 1.2em;
    }
    .margin-custom1{
        margin-bottom: 15px;
    }
    .margin-custom2{
        margin-bottom: 50px; 
    }

    h2{
        margin-bottom: 1.2em;
    } 
}

@media(max-width: 900px){
    article{
        min-width: 40rem;
        max-width: 44rem;
    }
    form{
        font-size: 1.3em;
        button{
            height: 60px;
        }
    }
    .dad-div{
        flex-direction: column;
        justify-content: center;
        gap: 5em;
    }
    .text-5xl{
        font-size: 2.2em;
        margin-bottom: 40px;  
    }
    .text-3xl{
        font-size: 1.5em;
        margin-bottom: 30px;  
    }
    .form-width{
        width: 100%;
    } 
    .flex-custom{
        gap: 0;
    }
    .icon-size1{
        transform: scale(0.8);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .icon-size{
        transform: scale(0.7);
        padding: 0;
    } 
    .text-gray-custom{
        font-size: 1.2em;
    }
    .margin-custom1{
        margin-bottom: 15px;
    }
    .margin-custom2{
        margin-bottom: 50px; 
    }

    h2{
        margin-bottom: 1.2em;
    } 
}

@media(max-width: 710px){
    article{
        min-width: 29.3em;
        max-width: 29.5rem;
    }
    form{
        font-size: 1.3em;
        button{
            height: 40px;
        }
    }
    
    .text-5xl{
        font-size: 1.8em;
        margin-bottom: 30px;  
    }
    .text-3xl{
        font-size: 1.3em;
        margin-bottom: 30px;  
    }
    .icon-size{
        transform: scale(1);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .icon-size1{
        transform: scale(0.9);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .text-gray-custom{
        font-size: 1em;
    }
    .margin-custom1{
        margin-bottom: 5px;
    }

    h2{
        margin-bottom: 1em;
    }
}


@media(max-width: 480px){
    article{
        min-width: 21.8em;
        max-width: 22rem;
    }
    .dad-div{
        flex-direction: column;
        justify-content: center;
        gap: 4em;
    }
    .text-5xl{
        font-size: 1.6em;
        margin-bottom: 30px;  
    }
    .text-3xl{
        font-size: 1.2em;
        margin-bottom: 30px;  
    }
    .form-width{
        width: 100%;
        font-size: 0.9em;
    } 
    .flex-custom{
        gap: 0;
    }
    .icon-size{
        transform: scale(0.9);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .icon-size1{
        transform: scale(0.8);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .text-gray-custom{
        font-size: 0.8em;
    }
    .margin-custom1{
        margin-bottom: 5px;
    }

    h2{
        margin-bottom: 1em;
    }
}

@media(max-width: 359px){
    article{
        min-width: 19em;
        max-width: 19rem;
    }
    .dad-div{
        flex-direction: column;
        justify-content: center;
        gap: 4em;
    }
    .text-5xl{
        font-size: 1.6em;
        margin-bottom: 30px;  
    }
    .text-3xl{
        font-size: 1.2em;
        margin-bottom: 30px;  
    }
    .form-width{
        width: 100%;
        font-size: 0.8em;
    } 
    .flex-custom{
        gap: 0;
    }
    .icon-size{
        transform: scale(0.9);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .icon-size1{
        transform: scale(0.6);
        padding: 0;
        width: 2em;
        transform-origin: left;
    } 
    .text-gray-custom{
        font-size: 0.8em;
    }
    .margin-custom1{
        margin-bottom: 5px;
    }
    h2{
        margin-bottom: 1em;
    }

    
}