<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5 text-black ">
    <div class="flex justify-center items-center content-1">

    <div class="text-medium description text-white text-justify">
        <div class="title"><h1>Experiência</h1> 
        </div>

        <div class="timeline">
            <div class="checkpoint left">
                <div><h2>
                    Técnico em Informática
                </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea totam at ex necessitatibus quam assumenda aperiam. Optio, natus quibusdam.</p>
            </div>
            </div>
        </div>
        <div class="checkpoint right">
            <div>
                <h2>Engenharia da Computação</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus voluptatum eaque quo ipsam non beatae totam ipsum ducimus officia rerum possimus veniam quibusdam ab, e</p>
            </div>
        </div>
        <div class="checkpoint left">
            <div>
                <h2>Creath Digital</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus voluptatum eaque quo ipsam non beatae totam ipsum ducimus officia rerum, e</p>
            </div>
        </div>
    </div>
    </div>
</article>
