<article class="w-full h-full 2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl sm:max-w-2xl rounded-2xl h-3/5 text-black ">
    <div class="text-5xl text-white text-center font-bold title2">Experiência </div>
    <div class="flex justify-center items-center content-1">

    <div class="text-medium description text-white text-justify">
        <div class="timeline">
            <div class="checkpoint left">
                <div><h2 class="flex items-center gap-3">
                    <iconify-icon icon="fa6-solid:computer" width="30" height="24" class="text-white hover:text-gray-custom transition icon-size"/>
                    Técnico em Informática (2019/2021)

                    
                </h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat eveniet minus distinctio tenetur dolorum pariatur, dolores voluptas eos, quisquam iusto odit quia vitae, voluptatum rem perspiciatis animi. Consequuntur, voluptatum amet.</p>
            </div>
            </div>
        
        <div class="checkpoint right">
            <div>
                <h2 class="flex items-center gap-2">
                    <iconify-icon icon="material-symbols:data-object-rounded" width="34" height="26" class="text-white hover:text-gray-custom transition icon-size"/>
                    Engenharia da Computação (2022/2026)</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, veritatis magni. Maiores, vel repellat cum labore atque, aperiam animi obcaecati similique officia et esse dolore possimus, hic fugit tenetur velit?</p>
            </div>
        </div>
        <div class="checkpoint left">
            <div>
                <h2 class="flex items-center gap-2">
                    <img src="/logocreathp.png" class="w-18 h-10 inline-block white-filter">
                    Creath (Mentorado) (2023/Atualmente)</h2>
                <p>Como mentorado/estagiário Front-end na Creath digital, sou responsável por criar interfaces de usuário eficientes e atraentes utilizando tecnologias modernas como Angular, Next.js, TailwindCSS e SASS.  
                    </p>
            </div>
        </div>
    </div>
</div>
    </div>
</article>
